%body
  %div
    %nav.bg-gray-800
      .max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8
        .flex.items-center.justify-between.h-16
          .flex.items-center
            .flex-shrink-0
              %img.h-8.w-8{:alt => "Workflow", :src => "https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"}/
            .hidden.md:block
              .ml-10.flex.items-baseline.space-x-4
                / Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
                %a.bg-gray-900.text-white.px-3.py-2.rounded-md.text-sm.font-medium{:href => "#"} Dashboard
                %a.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium{:href => "#"} Team
                %a.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium{:href => "#"} Projects
                %a.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium{:href => "#"} Calendar
                %a.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.text-sm.font-medium{:href => "#"} Reports
          .hidden.md:block
            .ml-4.flex.items-center.md:ml-6
              %button.bg-gray-800.p-1.rounded-full.text-gray-400.hover:text-white.focus:outline-none.focus:ring-2.focus:ring-offset-2.focus:ring-offset-gray-800.focus:ring-white
                %span.sr-only View notifications
                / Heroicon name: bell
                %svg.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
              / Profile dropdown
              .ml-3.relative{"data-controller" => "dropdown"}
                %div
                  %button#user-menu.max-w-xs.bg-gray-800.rounded-full.flex.items-center.text-sm.focus:outline-none.focus:ring-2.focus:ring-offset-2.focus:ring-offset-gray-800.focus:ring-white{"aria-haspopup" => "true", "data-action" => "click->dropdown#toggle click@window->dropdown#hide", :role => "button"}
                    %span.sr-only Open user menu
                    %img.h-8.w-8.rounded-full{:alt => "", :src => "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"}/
                /
                  Profile dropdown panel, show/hide based on dropdown state.

                  Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
                .origin-top-right.absolute.right-0.mt-2.w-48.rounded-md.shadow-lg.py-1.bg-white.ring-1.ring-black.ring-opacity-5.hidden{"aria-labelledby" => "user-menu", "aria-orientation" => "vertical", :role => "menu", "data-dropdown-target" => "menu"}
                  %a.block.px-4.py-2.text-sm.text-gray-700.hover:bg-gray-100{:href => "#", :role => "menuitem"} Your Profile
                  %a.block.px-4.py-2.text-sm.text-gray-700.hover:bg-gray-100{:href => "#", :role => "menuitem"} Settings
                  %a.block.px-4.py-2.text-sm.text-gray-700.hover:bg-gray-100{:href => "#", :role => "menuitem"} Sign out
          .-mr-2.flex.md:hidden
            / Mobile menu button
            %button.bg-gray-800.inline-flex.items-center.justify-center.p-2.rounded-md.text-gray-400.hover:text-white.hover:bg-gray-700.focus:outline-none.focus:ring-2.focus:ring-offset-2.focus:ring-offset-gray-800.focus:ring-white
              %span.sr-only Open main menu
              /
                Heroicon name: menu

                Menu open: "hidden", Menu closed: "block"
              %svg.block.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M4 6h16M4 12h16M4 18h16", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
              /
                Heroicon name: x

                Menu open: "block", Menu closed: "hidden"
              %svg.hidden.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M6 18L18 6M6 6l12 12", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
      /
        Mobile menu, toggle classes based on menu state.

        Open: "block", closed: "hidden"
      .hidden.md:hidden
        .px-2.pt-2.pb-3.space-y-1.sm:px-3
          / Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
          %a.bg-gray-900.text-white.block.px-3.py-2.rounded-md.text-base.font-medium{:href => "#"} Dashboard
          %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.text-base.font-medium{:href => "#"} Team
          %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.text-base.font-medium{:href => "#"} Projects
          %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.text-base.font-medium{:href => "#"} Calendar
          %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.text-base.font-medium{:href => "#"} Reports
        .pt-4.pb-3.border-t.border-gray-700
          .flex.items-center.px-5
            .flex-shrink-0
              %img.h-10.w-10.rounded-full{:alt => "", :src => "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"}/
            .ml-3
              .text-base.font-medium.leading-none.text-white Tom Cook
              .text-sm.font-medium.leading-none.text-gray-400 tom@example.com
            %button.ml-auto.bg-gray-800.flex-shrink-0.p-1.rounded-full.text-gray-400.hover:text-white.focus:outline-none.focus:ring-2.focus:ring-offset-2.focus:ring-offset-gray-800.focus:ring-white
              %span.sr-only View notifications
              / Heroicon name: bell
              %svg.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
          .mt-3.px-2.space-y-1
            %a.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-400.hover:text-white.hover:bg-gray-700{:href => "#"} Your Profile
            %a.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-400.hover:text-white.hover:bg-gray-700{:href => "#"} Settings
            %a.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-400.hover:text-white.hover:bg-gray-700{:href => "#"} Sign out
    %header.bg-white.shadow
      .max-w-7xl.mx-auto.py-6.px-4.sm:px-6.lg:px-8
        %h1.text-3xl.font-bold.leading-tight.text-gray-900
          Dashboard
    %main
      .max-w-7xl.mx-auto.py-6.sm:px-6.lg:px-8
        / Replace with your content
        .px-4.py-6.sm:px-0
          .border-4.border-dashed.border-gray-200.rounded-lg.h-96
        / /End replace
  -# / This example requires Tailwind CSS v2.0+
  -# .fixed.z-10.inset-0.overflow-y-auto
  -#   .flex.items-end.justify-center.min-h-screen.pt-4.px-4.pb-20.text-center.sm:block.sm:p-0
  -#     /
  -#       Background overlay, show/hide based on modal state.

  -#       Entering: "ease-out duration-300"
  -#       From: "opacity-0"
  -#       To: "opacity-100"
  -#       Leaving: "ease-in duration-200"
  -#       From: "opacity-100"
  -#       To: "opacity-0"
  -#     .fixed.inset-0.transition-opacity{"aria-hidden" => "true"}
  -#       .absolute.inset-0.bg-gray-500.opacity-75
  -#     / This element is to trick the browser into centering the modal contents.
  -#     %span.hidden.sm:inline-block.sm:align-middle.sm:h-screen{"aria-hidden" => "true"} ​
  -#     /
  -#       Modal panel, show/hide based on modal state.

  -#       Entering: "ease-out duration-300"
  -#       From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
  -#       To: "opacity-100 translate-y-0 sm:scale-100"
  -#       Leaving: "ease-in duration-200"
  -#       From: "opacity-100 translate-y-0 sm:scale-100"
  -#       To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
  -#     .inline-block.align-bottom.bg-white.rounded-lg.text-left.overflow-hidden.shadow-xl.transform.transition-all.sm:my-8.sm:align-middle.sm:max-w-lg.sm:w-full{"aria-labelledby" => "modal-headline", "aria-modal" => "true", :role => "dialog"}
  -#       .bg-white.px-4.pt-5.pb-4.sm:p-6.sm:pb-4
  -#         .sm:flex.sm:items-start
  -#           .mx-auto.flex-shrink-0.flex.items-center.justify-center.h-12.w-12.rounded-full.bg-red-100.sm:mx-0.sm:h-10.sm:w-10
  -#             / Heroicon name: exclamation
  -#             %svg.h-6.w-6.text-red-600{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
  -#               %path{:d => "M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
  -#           .mt-3.text-center.sm:mt-0.sm:ml-4.sm:text-left
  -#             %h3#modal-headline.text-lg.leading-6.font-medium.text-gray-900
  -#               Deactivate account
  -#             .mt-2
  -#               %p.text-sm.text-gray-500
  -#                 Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
  -#       .bg-gray-50.px-4.py-3.sm:px-6.sm:flex.sm:flex-row-reverse
  -#         %button.w-full.inline-flex.justify-center.rounded-md.border.border-transparent.shadow-sm.px-4.py-2.bg-red-600.text-base.font-medium.text-white.hover:bg-red-700.focus:outline-none.focus:ring-2.focus:ring-offset-2.focus:ring-red-500.sm:ml-3.sm:w-auto.sm:text-sm{:type => "button"}
  -#           Deactivate
  -#         %button.mt-3.w-full.inline-flex.justify-center.rounded-md.border.border-gray-300.shadow-sm.px-4.py-2.bg-white.text-base.font-medium.text-gray-700.hover:bg-gray-50.focus:outline-none.focus:ring-2.focus:ring-offset-2.focus:ring-indigo-500.sm:mt-0.sm:ml-3.sm:w-auto.sm:text-sm{:type => "button"}
  -#           Cancel


-# .inline-block.text-sm.px-4.py-2.leading-none.rounded.no-underline.text-gray.hover:text-gray-900.hover:bg-white.mt-4.lg:mt-0
-#   .relative{"data-controller" => "dropdown"}
-#     .inline-block.select-none{"data-action" => "click->dropdown#toggle click@window->dropdown#hide", :role => "button"}
-#       %span.appearance-none.flex.items-center.inline-block.text-gray-700
-#         - if current_user
-#           = image_tag avatar_url_for(current_user), class: "rounded-full h-8 w-8 align-middle"
-#         %svg.h-4.w-4{:viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
-#           %path{:d => "M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"}
-#     .absolute.right-0.mt-2.hidden{"data-dropdown-target" => "menu"}
-#       .bg-white.shadow.rounded.border.overflow-hidden
-#         = link_to 'Profile',  edit_user_registration_path, class: 'no-underline block pl-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-no-wrap'
-#         = link_to 'Password', password_path, class: 'no-underline block px-8 py-3 text-gray-900 bg-white  hover:bg-gray-300 whitespace-no-wrap'
-#         = link_to 'Accounts', user_connected_accounts_path, class: 'no-underline block px-8 py-3 text-gray-900 bg-white  hover:bg-gray-300 whitespace-no-wrap'
-#         = link_to 'Billing',  subscription_path, class: 'no-underline block px-8 py-3 text-gray-900 bg-white  hover:bg-gray-300 whitespace-no-wrap'
-#         = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'no-underline block px-8 py-3 border-t text-gray-900 bg-white  hover:bg-gray-300 whitespace-no-wrap'