<div class="container-fluid">
  <nav class="float-left">
    <ul>
      <li>
        <%= link_to 'Nuggets | JEA', root_path %>
      </li>
    </ul>
  </nav>
  <div class="copyright float-right">
    &copy;
    <%= DateTime.now.year %>
    , made with <i class="material-icons">favorite</i> by
    <a href="https://github.com/jess-alejo" target="_blank">Me</a> for newbies like me.
  </div>
  <!-- your footer here -->
</div>